
<router-outlet/>

<!-- <header>
  <span class="logo" ><a routerLink="/"><img src="../assets/images/logo.png" alt=""></a></span>
        <div class="example-button-row">
        <button mat-raised-button color="primary"  routerLink="/">Inicio</button>
        <button mat-raised-button color="primary"  routerLink="/producto">Productos</button>
        <button mat-raised-button color="primary"  routerLink="/login">Iniciar Sesión</button>
        
    </div>
</header>

  <main>
    <section class="presentation">
      <div class="container">
        <div class="presentation-content">
          <div class="presentation-text">
            <h1>Bienvenido a Nuestra Tienda</h1>
            <p>Descubre una amplia selección de productos para ti.</p>
            <button mat-raised-button color="primary" routerLink="/producto">Explorar Productos</button>
          </div>
          <div class="imagen"></div>
        </div>
      </div>
    </section>
  </main>
  
  <footer>
      <div class="container">
        <div class="footer-links">
          <a routerLink="/">Términos y Condiciones</a>
          <a routerLink="/">Política de Privacidad</a>
        </div>
        <div class="contact-info">
          Dirección: Calle 9A, Miami, USA.
          Teléfono: +1 123456789
        </div>
        <div class="social-links">
          <a href="https://web.facebook.com/"><img src="../assets/images/facebook.png" alt="Facebook"></a>
          <a href="https://x.com/"><img src="../assets/images/x.png" alt="X"></a>
          <a href="https://www.instagram.com/"><img src="../assets/images/instagram.png" alt="Instagram"></a>
        </div>
      </div>
   
  </footer> -->

